# Local (PostgreSQL instalado en tu PC)
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/gestor_productos

# Docker Compose (la API corre dentro de Docker)
# DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/gestor_productos
